<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body class="bg-light" style="margin-top: 4rem;">
<h1 class="text-center mt-3 mb-md-5 mb-3">About Us</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 order-md-2"><img class="img-fluid" src="https://images.unsplash.com/photo-1590880795696-20c7dfadacde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt=""></div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, eos excepturi quam quibusdam exercitationem facere cum esse dolor et nisi magnam officiis mollitia pariatur omnis eligendi ab. Ab, corrupti optio!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, eos excepturi quam quibusdam exercitationem facere cum esse dolor et nisi magnam officiis mollitia pariatur omnis eligendi ab. Ab, corrupti optio!</p>

        </div>
    </div>
    <div class="row mb-5 justify-content-center mt-5 social-media-effect">
        <a href="#" class="fb" title="Join us on Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="tw" title="Join us on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="insta" title="Join us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    </div>
</div>
</body>
</html>