<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body>
<div class="container-fluid" style="margin-top: 4rem;">
    <h1 class="text-center">Shopping Cart</h1>
    <div class="row">
        <div class="alert alert-info" th:unless="${session.containsKey('shopping_cart') and !session.shopping_cart.isEmpty()}" >There is no item in the cart</div>
        <table class="table m-" th:if="${session.containsKey('shopping_cart') and !session.shopping_cart.isEmpty()}">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${session.shopping_cart}">
                <td>
                    <img style="width: 6rem; object-fit: cover;" th:src="${item.product.imageUrl}" class="card-img-top" alt="..." onerror="this.src='https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg'">
                </td>
                <td th:text="${item.product.name}"></td>
                <td th:text="${#numbers.formatDecimal(item.product.price, 1, 'DEFAULT', 2, 'DEFAULT')} + ' Ft'"></td>
                <td th:text="${item.quantity}"></td>
                <td>
                    <form th:action="@{/cart/remove/}" method="post">
                        <input type="hidden" name="id" th:value="${item.product.id}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </td>
                <td th:text="${#numbers.formatDecimal(item.totalPrice, 1, 'DEFAULT', 2, 'DEFAULT')} + ' Ft'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-md-end justify-content-center">
        <table class="text-end total w-50">
            <tbody>
            <th:block th:unless="${session.containsKey('shopping_cart') and !session.shopping_cart.isEmpty()}">
                <tr>
                    <td>Subtotal</td>
                    <td class="fw-bold">0 Ft</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td class="fw-bold">0 Ft</td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td class="fw-bold">0 Ft</td>
                </tr>
            </th:block>
            <th:block th:if="${session.containsKey('shopping_cart') and !session.shopping_cart.isEmpty()}">
                <tr>
                    <td>Subtotal</td>
                    <td th:text="${#numbers.formatDecimal(total_price, 1, 'DEFAULT', 2, 'DEFAULT')} + ' Ft'" class="fw-bold fs-4"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-md-end justify-content-center">
        <a href="/cart/checkout" class="btn btn-success mt-4 fs-5" style="width: min-content;">Checkout</a>
    </div>
</div>
</body>
</html>