<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body>
<div class="container-fluid" style="margin-top: 4rem;">
    <a href="/coupon/new" class="btn btn-success">New Coupon</a>

    <div class="row">
        <div class="col-md-9">
            <h3>Coupons</h3>
            <div class="alert alert-info" th:unless="${coupons != null and !coupons.empty}" >There is no coupon yet</div>
            <table class="table" th:if="${coupons != null and !coupons.empty}">
                <thead>
                <tr>
                    <th>Coupon Code</th>
                    <th>Amount Discount</th>
                    <th>Expiration Date</th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody id="couponTable">
                <tr th:each="coupon: ${coupons}">
                    <td th:text="${coupon.couponCode}"></td>
                    <td th:text="${coupon.discountAmount}"></td>
                    <td th:text="${coupon.expirationDate ne null}? ${coupon.expirationDate} : 'None'"></td>
                    <td><a th:href="${'/coupon/edit/'+ coupon.getId()}" class="btn btn-outline-dark">Edit item</a></td>
                    <td>
                        <form th:action="${'/coupon/delete/' + coupon.getId()}" method="post">
                            <input class="btn btn-outline-dark" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${form}" class="col-md-3">
            <form method="post" th:object="${couponToEdit}" autocomplete="off">
                <div class="form-group">
                    <label for="couponCode">Coupon Code</label>
                    <input type="text" class="form-control" id="couponCode" th:field="*{couponCode}" autofocus/>
                </div>
                <div class="form-group">
                    <label for="discountAmount">Discount Amount</label>
                    <input type="number" step="1" min=0 max="100" class="form-control" id="discountAmount" th:field="*{discountAmount}" />
                </div>
                <div class="form-group">
                    <label for="expirationDate">Expiration date</label>
                    <input type="date" class="form-control" id="expirationDate" th:field="*{expirationDate}" />
                </div>
                <input th:if="${isNew}" type="submit" class="btn btn-outline-dark" th:action="@{/coupon/new}" th:value="Confirm">
                <input th:if="${isEdit}" type="submit" class="btn btn-outline-dark" th:action="@{/coupon/edit/{id}}" th:value="Edit">

            </form>
        </div>
    </div>
</div>
<div class="toast position-fixed bottom-0 start-0 p-2 fs-5 m-2 text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="d-flex">
        <div class="toast-body">
            Given code already exists!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

    $(function(){
       $(".search-form").show();
        $("#keyword").attr("placeholder", "Search coupons...");
        initCouponSearch("coupon");
    })

    var queryResult = /*[[${coupons}]]*/


    var notEnoughInStock = /*[[${codeAlreadyExists}]]*/;
    if(notEnoughInStock){
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function(toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show());
    }

/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>
</html>