<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Coupon</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Ecommerce</h1>
<div class="container-fluid">
    <a href="/home" class="btn btn-outline-dark">Back to home</a>
    <a href="/coupon/new" class="btn btn-outline-dark">New Coupon</a>

    <div class="row">
        <div class="col-md-9">
            <h3>Coupons</h3>
            <div class="alert alert-info" th:unless="${coupons != null and !coupons.empty}" >There is no coupon yet</div>
            <table class="table" th:if="${coupons != null and !coupons.empty}">
                <thead>
                <tr>
                    <th>Coupon Code</th>
                    <th>Amount Discount</th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="coupon: ${coupons}">
                    <td th:text="${coupon.couponCode}"></td>
                    <td th:text="${coupon.discountAmount}"></td>
                    <td><a th:href="${'/coupon/edit/'+ coupon.getId()}" class="btn btn-outline-dark">Edit item</a></td>
                    <td>
                        <form th:action="${'/coupon/delete/' + coupon.getId()}" method="post">
                            <input class="btn btn-outline-dark" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${form}" class="col-md-3">
            <form method="post" th:object="${couponToEdit}" autocomplete="off">
                <div class="form-group">
                    <label for="couponCode">Coupon Code</label>
                    <input type="text" class="form-control" id="couponCode" th:field="*{couponCode}" autofocus/>
                </div>
                <div class="form-group">
                    <label for="discountAmount">Discount Amount</label>
                    <input type="number" step="1" min=0 max="100" class="form-control" id="discountAmount" th:field="*{discountAmount}" />
                </div>
                <input th:if="${isNew}" type="submit" class="btn btn-outline-dark" th:action="@{/coupon/new}" th:value="Confirm">
                <input th:if="${isEdit}" type="submit" class="btn btn-outline-dark" th:action="@{/coupon/edit/{id}}" th:value="Edit">

            </form>
        </div>
    </div>
</div>
</body>
</html>