<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body>
<h1>Ecommerce</h1>
<div class="container-fluid position-relative" style="margin-top: 2rem;">
    <div id="filter">
        <div class="dropdown position-absolute top-0 end-0 translate-middle-x me-3 mt-2">
            <a id="filter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-solid fa-filter fa-2x" style="color:#5a8b80; cursor: pointer;" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu disable-select" aria-labelledby="filter-dropdown">
                <li><a class="dropdown-item pointer " id="filter-name-az">Order by Name A-Z</a></li>
                <li><a class="dropdown-item pointer" id="filter-name-za">Order by Name Z-A</a></li>
                <li><a class="dropdown-item pointer" id="filter-price-lh">Order by Price Low to High</a></li>
                <li><a class="dropdown-item pointer" id="filter-price-hl">Order by Price High to Low</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Products</h3>
            <div class="alert alert-info" th:unless="${products != null and !products.empty}">There is no product</div>
            <div id="product" class=" row g-0">
                <div th:each="product: ${products}" class="card shadow col-3">
                    <img th:src="${product.imageUrl}"
                         class="card-img-top" alt="..." onerror="this.src='https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg'">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <p th:if="${product.stock > 0}" class="mt-5"><span style="background-color: green;"
                                                                           class="indicator"></span> In Stock</p>
                        <p th:unless="${product.stock > 0}" class="mt-5"><span style="background-color: red;"
                                                                               class="indicator"></span> Out of Stock
                        </p>
                    </div>


                    <form th:action="@{/cart/add}" method="post" autocomplete="off" class="cart-wrapper">
                        <input type="hidden" name="id" th:value="${product.id}">
                        <input class="form-control" name="quantity" type="hidden" th:value="1">

                        <div class="">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>
                            <button class="cart" type="submit"
                                    style="border: none; padding: 0; font: inherit; outline:inherit; cursor: pointer; background: none;">
                                <span th:text="${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'DEFAULT')} + ' Ft'"
                                      class="price"> Ft</span>
                                <span class="add-to-cart">
                          <span class="txt">Add to cart</span>
                        </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toast position-fixed bottom-0 start-0 p-2 fs-5 m-2 text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="d-flex">
        <div class="toast-body">
            There is no more in stock!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

    $(function(){
        $(".search-form").show();
        $("#keyword").attr("placeholder", "Search products...");
        initProductCardSearch("product");
    })

    var queryResult = /*[[${products}]]*/

    var notEnoughInStock = /*[[${notEnoughInStock}]]*/;
    if(notEnoughInStock){
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function(toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show());
    }

/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
<script type="text/javascript" th:src="@{/js/product-card-sorting.js}"></script>
</body>
</html>