<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Ecommerce</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Products</h3>
            <div class="alert alert-info" th:unless="${products != null and !products.empty}" >There is no product</div>
            <table class="table" th:if="${products != null and !products.empty}">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a class="btn btn-outline-dark">Add to cart</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>