<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body class="bg-light">
<div class="auth-page container vh-100">
    <div class="row align-items-center justify-content-md-center h-100">
        <div class="card shadow p-2" style="width: 400px;">
            <div class="card-body">
                <h4 class="card-title mb-4">Login</h4>
                <div th:if="${param.error}" class="alert alert-danger">Incorrect username or password</div>
                <form autocomplete="off" th:action="@{/login}" method="POST">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input id="username" type="text" class="form-control" name="username" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group" id="show_hide_password">
                            <input id="password" type="password" class="form-control" name="password" required>
                            <div class="input-group-append">
                                            <span class="input-group-text h-100">
                                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"
                                                          style="color: #333;"></i></a>
                                            </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group mt-5">
                        <button type="submit" class="btn btn-primary btn-block w-100 p-2">
                            Login
                        </button>
                    </div>
                    <div class="mt-4 text-center">
                        Don't have an account? <a href="/register">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>
