<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body>
<h1>Orders</h1>
<div class="container-fluid" style="margin-top: 4rem;">
    <div class="row">
        <div class="col">
            <h3>All Order</h3>
            <div th:unless="${!orders.isEmpty() and orders != null}" class="alert alert-info">There are no orders yet
            </div>
            <table class="table" th:if="${!orders.isEmpty() and orders != null}">
                <thead>
                <tr class="disable-select">
                    <th id="table-name">Customer name</th>
                    <th id="table-email">Customer email</th>
                    <th>Products</th>
                    <th id="table-issuedOn">Issued on</th>
                    <th id="table-address">Shipping Address</th>
                    <th id="table-price">Total Price</th>
                    <th id="table-status">Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="orderTable">
                <tr th:each="order: ${orders}">
                    <td th:text="${order.customer}"></td>
                    <td th:text="${order.email}"></td>
                    <td>
                        <ul class="list-unstyled">
                            <li th:each="item: ${order.getProducts()}"
                                th:text="${item.getProduct().getName() + ' x ' + item.quantity}"></li>
                        </ul>
                    </td>
                    <td th:text="${#temporals.format(order.getIssuedOn(), 'yyyy-MM-dd')}"></td>
                    <td th:text="${order.getShippingAddress}"></td>
                    <td th:text="${#numbers.formatDecimal(order.getTotalPrice(), 1, 'DEFAULT', 2, 'DEFAULT')} + ' Ft'"></td>
                    <td th:text="${order.getStatus()}"></td>
                    <td>
                        <a th:href="${'/order/status/' + order.getId()}" class="btn btn-outline-dark">Change Status</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

    $(function(){
       $(".search-form").show();
        $("#keyword").attr("placeholder", "Search orders...");
        initOrderSearch("order");
    })

    var queryResult = /*[[${orders}]]*/

/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
<script type="text/javascript" th:src="@{/js/order-sorting.js}"></script>
</body>
</html>