<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body>
<h1>Orders</h1>
<div class="container-fluid" style="margin-top: 4rem;">
    <div class="row">
        <div class="col">
            <h3>All Order</h3>
            <div th:unless="${!orders.isEmpty() and orders != null}" class="alert alert-info">There are no orders yet
            </div>
            <table class="table" th:if="${!orders.isEmpty() and orders != null}">
                <thead>
                <tr>
                    <th>Customer name</th>
                    <th>Products</th>
                    <th>Issued on</th>
                    <th>Shipping Address</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.customer.getUsername()}"></td>
                    <td>
                        <ul class="list-unstyled">
                            <li th:each="item: ${order.getProducts()}"
                                th:text="${item.getProduct().getName() + ' x ' + item.quantity}"></li>
                        </ul>
                    </td>
                    <td th:text="${#dates.format(order.getIssuedOn(), 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${order.getShippingAddress}"></td>
                    <td th:text="${order.getTotalPrice()}"></td>
                    <td th:text="${order.getStatus()}"></td>
                    <td>
                        <a th:href="${'/order/status/' + order.getId()}" class="btn btn-outline-dark">Change Status</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>