<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<th:block>
    <div th:replace="fragments/header.html :: div"></div>
</th:block>

<body>
<div class="container-fluid" style="margin-top: 4rem;">
    <div class="row mt-3">
        <div class="col-4">
            <a class="btn btn-success" href="/product/new">New product
            </a>
        </div>
        <div class="col-4"><h2 class="text-center">Products</h2></div>
    </div>
    <div th:if="${form}" class="row justify-content-center mb-4">
        <div class="col-md-8">
            <form class="row" role="form" autocomplete="off" method="post" th:object="${productForm}" enctype="multipart/form-data">
                <div class="form-group col-md-12">
                    <label for="productName">Name</label>
                    <input type="text" class="form-control" id="productName" th:field="*{name}" autofocus="true" required/>
                </div>
                <div class="form-group col-md-4">
                    <label for="price">Price</label>
                    <input type="number" step="0.1" min=0 class="form-control" id="price" th:field="*{price}" required/>
                </div>
                <div class="form-group col-md-4">
                    <label for="stock">Stock</label>
                    <input type="number" step="1" min=0 class="form-control" id="stock" th:field="*{stock}" required/>
                </div>
                <div class="form-group col-md-4">
                    <label for="reorderThreshold">Reorder Threshold</label>
                    <input type="number" step="1" min="0" class="form-control" id="reorderThreshold" th:field="*{reorderThreshold}" required>
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="product-image" class="font-weight-bold">Image</label>
                    <input type="file" class="form-control-file" id="product-image" accept="image/png, image/jpeg" th:field="*{image}" name="image">
                </div>
                <div class="form-group">
                    <input th:if="${method} == 'new'" type="submit" class="btn btn-outline-dark" th:action="@{/product/new}" th:value="Confirm">
                    <input th:if="${method} == 'edit'" type="submit" class="btn btn-outline-dark" th:action="@{/product/edit/{id}}" th:value="Edit">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div th:unless="${!products.isEmpty() and products != null}" class="alert alert-info">There are no products yet</div>
        <div th:if="${!products.isEmpty() and products != null}">
            <table class="table table-light">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="productTable">
                <tr th:each="product: ${products}">
                    <td th:text="${product.name}">5</td>
                    <td th:text="${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'DEFAULT')} + ' Ft'">112</td>
                    <td th:text="${product.stock}">30</td>
                    <td>
                        <a th:href="${'/product/edit/' + product.getId()}" class="btn btn-primary" th:text="Edit"></a>
                    </td>
                    <td>
                        <form class="m-auto" style="width: min-content;"
                              th:action="${'/product/stop-order/' + product.getId()}" method="post">
                            <input class="btn btn-danger" type="submit" value="Stop Order" th:disabled="${product.stopOrder}">
                        </form>
                    </td>
                    <td>
                        <form class="m-auto" style="width: min-content;"
                              th:action="${'/product/delete/' + product.getId()}" method="post">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

    $(function(){
        $(".search-form").show();
        $("#keyword").attr("placeholder", "Search products...");
        initProductTableSearch();
    })

    var queryResult = /*[[${products}]]*/

/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>
</html>